*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    max-width: 1200px;
    width: 100%;
    background-color: blue;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
}

.box__item {
    width: 250px;
    background-color: blueviolet;
    height: 100px;
    color: #fff;
    font-size: 50px;
}


@media (max-width: 768px) {
    .box__item {
        font-size: 30px;
    }
}

@media(max-width: 600px) {
    .box {
        flex-wrap: wrap;
        justify-content: center;
    }
}


/* monitor - 1920px */
/* laptop - 1440px */
/* tablet - 1024px */
/* mobile L - 768px */
/* mobile M - 425px */
/* mobile S - 375px */
/* mobile XS - 320px */